.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.search-input {
  width: 100%;
  background-color: #f1f5f9;
  color: #64748b;
  height: 40px;
  border: 0;
  outline: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.category-heading {
  font-size: 20px;
}
.category-item {
  color: #64748b;
  margin-bottom: 15px;
}

.category-item-btn {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #64748b;
  font-size: 16px;
  cursor: pointer;
}

.rating-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.star {
  display: inline-block;
  color: #0967d2;
}

.hollow {
  color: #64748b;
}

.star-btn {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #64748b;
  font-size: 16px;
  cursor: pointer;
}
